.app-main {
  background-color: #e0e0e0;
}
.cmp-0 {
  background-color: rgb(236, 173, 158);
  opacity: 0.8;
  width: 60%;
  padding-top: 60%;
}

.cmp-1 {
  background-color: rgb(230, 206, 172);
  opacity: 0.8;
  width: 53.664%;
  padding-top: 53.664%;
  position: absolute;
  top: 28%;
  left: 23%;
}

.cmp-2 {
  background-color: rgb(190, 237, 199);
  opacity: 0.8;
  width: 100%;
  padding-top: 100%;
  position: absolute;
  top: 34%;
  left: 35%;
}